In [4]:
import pandas as pd
import re
import numpy as np

In [5]:
data_location = "C:/Users/Ideapad-320/Desktop/Capacitaciones/curso data Sciencie/desafio 1/properati.csv"
data = pd.read_csv(data_location, sep=",")
print(data.dtypes)

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [5]:
data.shape

(121220, 26)

In [47]:
data.sample(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,Descripcion_copia
51715,51715,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,3430348.0,"-34.543726,-58.462132",-34.543726,...,NaN,3257.142857,NaN,1.0,NaN,http://www.properati.com.ar/19hmm_venta_depart...,"Venta - Departamento - Argentina, Buenos Aires...",Departamento en Venta ubicado en Núñez,https://thumbs4.properati.com/9/1EZ4LMkbavrBik...,"Venta - Departamento - Argentina, Buenos Aires..."
105021,105021,sell,apartment,Güemes,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3854454.0,NaN,NaN,...,2410.714286,2547.169811,NaN,NaN,NaN,http://www.properati.com.ar/1bu1o_venta_depart...,SEMIPISO 2 AMB EN CONSTRUCCION ZONA GUEMES ALD...,SEMIPISO 2 AMB EN CONSTRUCCION ZONA GUEMES ALDREY,https://thumbs4.properati.com/5/JzWTgkTmfLzZjL...,SEMIPISO 2 AMB EN CONSTRUCCION ZONA GUEMES ALD...
91077,91077,sell,apartment,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,NaN,NaN,...,1426.476087,26590.909091,NaN,NaN,NaN,http://www.properati.com.ar/1bb30_venta_depart...,Departamento en venta de 1 Dormitorio - Posesi...,Depto a estrenar a una cuadra de Cañada/ Barri...,https://thumbs4.properati.com/6/uwk6cdQ777HdS0...,Departamento en venta de 1 Dormitorio - Posesi...
64749,64749,sell,apartment,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1500.0,http://www.properati.com.ar/1ab88_venta_depart...,OPORTUNIDAD!!! Departamento a estrenar en OPER...,DEPARTAMENTO DE UN DORM. EN VENTA EN OPERA LU...,https://thumbs4.properati.com/0/NZc4jBGQxDUmNE...,OPORTUNIDAD!!! Departamento a estrenar en OPER...
120640,120640,sell,house,Mendiolaza,|Argentina|Córdoba|Mendiolaza|,Argentina,Córdoba,3844424.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1ci7p_venta_casa_m...,"Es una muy linda casa, construida en dos plant...",Casa - Mendiolaza,https://thumbs4.properati.com/2/tGkN7C_7NZV3MM...,"Es una muy linda casa, construida en dos plant..."
9870,9870,sell,house,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,465.909091,1863.636364,NaN,NaN,NaN,http://www.properati.com.ar/165ra_venta_casa_b...,Excelente casa con detalles de categorÃ­a en i...,"Casa 880m² con Dependencias, Argentina, Capita...",https://thumbs4.properati.com/6/o-CIgU6WeuNIfn...,Excelente casa con detalles de categorÃ­a en i...
18375,18375,sell,PH,Quilmes,|Argentina|Bs.As. G.B.A. Zona Sur|Quilmes|,Argentina,Bs.As. G.B.A. Zona Sur,3429651.0,"-34.713702,-58.29204",-34.713702,...,NaN,NaN,NaN,3.0,NaN,http://www.properati.com.ar/175z7_venta_ph_qui...,Corredor Responsable: Martin Veltri - C.M.Q 80...,VENTA EXCELENTE DPTO 3 AMB A ESTRENAR BERNAL,https://thumbs4.properati.com/9/QvfsvsS6SXODWX...,Corredor Responsable: Martin Veltri - C.M.Q 80...
59987,59987,sell,house,Escobar,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|,Argentina,Bs.As. G.B.A. Zona Norte,3434130.0,"-34.3675988,-58.742715",-34.367599,...,NaN,980.000000,NaN,NaN,NaN,http://www.properati.com.ar/19yey_venta_casa_e...,"Excelente Oportunidad! Casa de 3 dormitorios, ...",OPORTUNIDAD! Venta casa Maschwitz Village,https://thumbs4.properati.com/6/QD-4jSRpPMqTR_...,"Excelente Oportunidad! Casa de 3 dormitorios, ..."
28594,28594,sell,house,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.1084567712,-57.6107375334",-38.108457,...,147.286822,1266.666667,NaN,3.0,NaN,http://www.properati.com.ar/17wry_venta_casa_m...,Chalet nuevo sobre lote 15 x 43. En planta baj...,CHALET 3 AMB. EN VENTA - ACANTILADOS GOLF,https://thumbs4.properati.com/8/Vy8VYL_Tglq0UW...,Chalet nuevo sobre lote 15 x 43. En planta baj...
70131,70131,sell,house,San Carlos de Bariloche,|Argentina|Río Negro|San Carlos de Bariloche|S...,Argentina,Río Negro,3837856.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1aj4j_venta_casa_s...,Casa principal de 320 m2 con 6 dormitorios (1 ...,Excelente chacra a 16 km del centro de Bariloche!,https://thumbs4.properati.com/9/yJi2KDG44H9lWr...,Casa principal de 320 m2 con 6 dormitorios (1 ...

In [57]:
porcentaje_nulos= data.isnull().sum()/data.shape[0]
print(porcentaje_nulos.sort_values(ascending= False))

floor                         0.934837
expenses                      0.882346
rooms                         0.609058
price_usd_per_m2              0.433947
lon                           0.425260
lat-lon                       0.425260
lat                           0.425260
surface_total_in_m2           0.324435
price_per_m2                  0.276869
currency                      0.168380
price_aprox_usd               0.168372
price_aprox_local_currency    0.168372
price                         0.168372
surface_covered_in_m2         0.164222
geonames_id                   0.154405
image_thumbnail               0.025672
place_name                    0.000190
description                   0.000016
title                         0.000000
properati_url                 0.000000
state_name                    0.000000
country_name                  0.000000
place_with_parent_names       0.000000
property_type                 0.000000
operation                     0.000000
Unnamed: 0                    0.000000
dtype: float64

In [78]:
data.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
rooms_aux                      73830
rooms_copia                    73830
rooms_final                    73830
dtype: int64

In [48]:
#buscamos en title la cantidad de ambientes de los deptos en Tittle 

pattern = r"(\d)\s\w*"

pattern_rooms_regex = re.compile(pattern , re.IGNORECASE)


pattern_matches1= data.title.apply(lambda x: x if x is np.NaN else pattern_rooms_regex.search(x))

rooms_matches1 = pattern_matches1.loc[mask_notnull_rooms1]

print(rooms_matches1)

0             <re.Match object; span=(0, 5), match='2 AMB'>
1          <re.Match object; span=(12, 18), match='2 dorm'>
2             <re.Match object; span=(0, 5), match='2 AMB'>
3             <re.Match object; span=(3, 8), match='3 amb'>
4            <re.Match object; span=(6, 11), match='2 AMB'>
                                ...
121138    <re.Match object; span=(32, 43), match='2 AMBI...
121144     <re.Match object; span=(25, 31), match='3 DORM'>
121153    <re.Match object; span=(26, 37), match='3 AMBI...
121215    <re.Match object; span=(31, 42), match='3 ambi...
121218        <re.Match object; span=(0, 5), match='2 amb'>
Name: title, Length: 43215, dtype: object

In [49]:
#cuantos valores de ambientes puedo obtener
rooms_matches1.value_counts().sum()

43215

In [42]:
#busco lo mismo en descripcion para ver si me trae mas valores

pattern = r"(\d)(\s\w*)"

pattern_rooms_regex = re.compile(pattern , re.IGNORECASE)


pattern_matches2= data.description.apply(lambda x: x if x is np.NaN else pattern_rooms_regex.match(x))

rooms_matches2 = pattern_matches2.loc[mask_notnull_rooms1]

print(rooms_matches2)

0         <re.Match object; span=(0, 11), match='2 AMBIE...
1                                                      None
2         <re.Match object; span=(0, 11), match='2 AMBIE...
3                                                      None
4                                                      None
                                ...
121138                                                 None
121144                                                 None
121153                                                 None
121215                                                 None
121218        <re.Match object; span=(0, 5), match='2 Amb'>
Name: description, Length: 43215, dtype: object

In [43]:
#cuantos valores de ambientes puedo obtener
rooms_matches2.value_counts().sum()

1206

In [ ]:
# me quedo con lo encontrado en tittle que son mas datos

In [14]:
# observo de la columna original de rooms cuales eran vacios
mask_rooms= data.rooms.notnull()
mask_rooms

0         False
1         False
2         False
3         False
4         False
          ...
121215    False
121216    False
121217    False
121218    False
121219    False
Name: rooms, Length: 121220, dtype: bool

In [50]:
#hacemos una mascara para ver los no nulos encontrados 
mask_notnull_rooms1= resultado_rooms1.notnull()
mask_notnull_rooms1

0          True
1          True
2          True
3          True
4          True
          ...
121215     True
121216    False
121217    False
121218     True
121219    False
Name: title, Length: 121220, dtype: bool

In [44]:
#busco comparar si los datos que encontre eran NaN en la columna original y gane datos
resultado= (mask_rooms) & (mask_notnull_rooms1)
print(resultado)

0         False
1         False
2         False
3         False
4         False
          ...
121215    False
121216    False
121217    False
121218    False
121219    False
Length: 121220, dtype: bool

In [45]:
# sumo cuantos True encontro

resultado.value_counts()

False    97386
True     23834
dtype: int64

In [ ]:
# De los  43215 datos encontrados 23834 ya los teniamos! por lo que en realidad encontramos 19381 datos nuevos de rooms

In [60]:
# extraigo los datos enocntrados

rooms_aux1= pattern_matches1[mask_notnull_rooms1].apply(lambda x: x.group(1))
rooms_aux1

0         2
1         2
2         2
3         3
4         2
         ..
121138    2
121144    3
121153    3
121215    3
121218    2
Name: title, Length: 43215, dtype: object

In [81]:
# poner los datos encontrados en rooms

data["rooms_copia"]= data["rooms"]

data.rooms_copia.value_counts().sum()

47390

In [79]:
data["rooms_final"]= data.rooms_copia.apply(lambda x: x if x != np.nan else x.group(1))

data.rooms_final

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
121215   NaN
121216   NaN
121217   NaN
121218   NaN
121219   NaN
Name: rooms_final, Length: 121220, dtype: float64

In [80]:
data.rooms_final.value_counts().sum()

47390